.party-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.party-title{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.party-name{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.party-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.party-description{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.select-party-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}